<div class="header">

</div>
<div class="main-page">
  <div class="products-container">
    <a class='link-container' *ngFor="let product of ListOfProducts" [href]="product.link">
      <div class="product-item">
        <div class="img-container">
          <img [src]="product.images[imgIndex[product.id]]" alt="{{product.name}}">
        </div>
        <h4>{{product.name}}</h4>
        <p>Рейтинг: {{product.rating}} ⭐</p><br>
        <p>{{product.description}} </p>
      </div>
      <button (click)="showShareOptions(product.link, $event)" class="share-button">
        <i class="fa fa-share-alt" aria-hidden="true"></i>
      </button>
      <button (click)="nextImg(product.id, $event)" class="next"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
      <button (click)="prevImg(product.id, $event)" class="prev"><i class="fa fa-chevron-left" aria-hidden="true"></i></button>
      <div *ngIf="showOptions" class="modal">
        <div class="modal-content">  
          <button (click)="shareTelegram($event)" class="dialog-button">Telegram</button>
          <button (click)="shareWhatsApp($event)" class="dialog-button">WhatsApp</button>
          <button (click)="closeOptions($event)" class="dialog-button">Закрыть</button>
        </div>
      </div>
    </a>
  </div>
</div>