.header{
    background-color: white(128, 128, 128, 0.444);
    height: 60px;
    font-size: 40px;
    display: flex;
    align-items: center;
    padding-left: 45px;
}

.main-page{
    display: flex;
    flex-direction: row;
    background-color: gainsboro;
    height: 688px;
    width: 100%;
}

.categories-container
{
    background-color: rgb(172, 172, 172);
    color: white;
    display: flex;
    padding-left: 50px;
    padding-top: 50px;
    gap: 10px;
    flex-direction: column;
    height: 100%;
    width: 200px;
}
.categories-container a{
    cursor: pointer;
    font-size: 22px;
    color: black;
    text-decoration: none;
}

.products-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
    height: 500px;
    width: 100%;
    padding-top: 60px;
    padding-left: 3%;
}
